
img.small {
  width: 200px;
}

.jumbotron {
  text-align: center;
  background-image: url(http://wallpoper.com/images/00/44/62/38/green-texture_00446238.jpg);
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
}

body {
  background-color: grey;
}

a {
  color: black;
}

footer {
  margin-bottom: 20px;
  margin-left: 50px;
}
