<header class="jumbotron">
  <h1>Hustle</h1>
</header>

<div class="container">
{{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'about'}}Admin{{/link-to}}
  {{#link-to 'index'}}Home{{/link-to}}
</footer>
